{% extends "html5_page_with_bootsrap_to_be_extended.html.twig" %}

{% block title %}Kundenkonto erstellt{% endblock %}

{% block body %}
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>Kundenkonto erstellt</h2>
        <h3>Vielen Dank für Ihre Registrierung!</h3>
      </div>
    </div>
  </div>
{% endblock %}
